.container {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.form {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

.select,
.input {
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.select:focus,
.input:focus {
  border-color: #ffcc00;
  outline: none;
}

.button {
  width: 40%;
  margin: 20px auto;
  background-color: #ffcc00;
  color: #333;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e6b800;
}

.cryptoDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  font-size: 16px;
  color: #444;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cryptoDetails p {
  margin: 5px 0;
  font-weight: bold;
}

.cryptoDetails p span {
  color: #333;
  font-weight: normal;
}

/* Tabela Responsiva */
.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.table td {
  font-size: 14px;
  color: #333;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  background-color: #ffe6e6; /* Fundo leve para destacar o erro */
  border: 1px solid #ff4d4f; /* Borda vermelha */
  border-radius: 8px;
  width: 50%; /* Ajuste o tamanho conforme necessário */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leve sombra para destaque */
}

.error {
  color: #d32f2f; /* Texto vermelho */
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center; /* Centraliza o texto */
}


/* Responsividade */
@media (max-width: 768px) {
  .table th,
  .table td {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    font-size: 10px;
    padding: 6px;
  }
}
