/* Header.css */

.header {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #333;
  color: #fff;
  
}

.ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo img {
  width: 60px;
}

.header .links-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.header .nav ul {
  
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.header .nav li {

  margin-right: 2%;
}

.header .nav a {
  text-decoration: none;

  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.header .search-bar-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.header .search-bar-container input {
  text-align: center;
  justify-content: center;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 4px;
}

.header .search-bar-container button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Efeito de hover para os links do menu */
.header .nav a:hover {
  color: #ffcc00;
}


/* Adaptação para telas menores que 768px (tablets) */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header .nav {
    margin-top: 10px;
  }

  .header .nav ul {
    flex-direction: column;
    align-items: center;
  }

  .header .nav li {
    margin: 0;
    margin-bottom: 10px;
  }

  .header .login {
    margin-top: 10px;
  }
}
